body {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
background: #f2f2f2;
}

.semaforoContainer {
width: 120px;
padding: 20px 0;
background: #080101;
border-radius: 20px;
display: flex;
flex-direction: column;
align-items: center;
gap: 20px;
position: relative;
}

.semaforoContainer::before {
content: "";
position: absolute;
top: -60px;
width: 20px;
height: 60px;
background: #0c0000;
}

.luz {
width: 80px;
height: 80px;
border-radius: 50%;
margin: 10px 0;
opacity: 0.5;
cursor: pointer;

}

.roja {
background: red;
}

.naranja {
background: orange;
}

.verde {
background: green;
}

.brillo {
opacity: 1;
box-shadow: 0 0 25px 10px rgba(255, 255, 255, 0.5);
}